@model EnrollmentApplication.Models.Student

<h2>Student of the Month</h2>
<div>
    <div class="panel-heading">
        Here's the Student of the Month!
    </div>
    <div class="panel-body">
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
    </div>
</div>

