
@{
    ViewBag.Title = "View";
}

<h2>View</h2>
<div>
    @*@Html.DropDownList("Albums", new List<SelectListItem>() { new SelectListItem() { Text = "Album1", Value = "1"},
                                                                  new SelectListItem() { Text = "Album2", Value ="2"}});*@
    @Html.DropDownList("AlbumsByName")
    @Html.DropDownList("AlbumsByArtist")
    @Html.DropDownList("AlbumsByGenre")

</div>

