@model IEnumerable<MVCMusicStoreApplication.Models.Album>

@{
    ViewBag.Title = "Index";
}

<div>
    <h2>Here are the list of albums</h2>
    <br />
    <ul>
        @foreach (var item in Model)
        {
            <li>@Html.ActionLink(item.Title, "Index", new {id = item.AlbumId})</li>
        } 
    </ul>
</div>

@section Scripts {
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/Apps/MusicStoreScript.js"></script>
}
