
@model EventFinder.Models.ViewModels.EventFinderCartViewModel

@{
    ViewBag.Title = "ShoppingCart";
}

@section Scripts{
    <script src="~/Scripts/Apps/MusicStoreScript.js"></script>
}
<h2>Here's your event cart!</h2>
<br />
<div id="update-message"></div>
<div>
    <table>
        <tr>
            <th>Title</th>
            <th>Quantity</th>
            <th></th>
        </tr>
        @foreach (var item in Model.CartItems)
        {
            <tr id="record-@item.RecordID">
                <td>@item.EventSelected.Title</td>
                <td id="item-count-@item.RecordID">@item.Count</td>
                <td><a href="#" class="RemoveLink" data-id="@item.RecordID">Remove</a></td>
            </tr>
        }
    </table>
</div>
<p class="button">
    @Html.ActionLink(
        "Back to Browse",
        "Browse",
        "Store"
    )
</p>


